html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  user-select: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #0F273E;
  padding: 1rem 0;
  box-shadow: -1px -1px 5px 1px #000000de;
}
.nav ul {
  display: flex;
  justify-content: space-around;
}
.nav ul a {
  color: white;
}
.nav ul a:hover:not(.active) {
  color: #b5b5b5;
}
.nav .active {
  color: #96c7af;
  font-weight: 700;
}
.hero {
  background-image: url(../img/hero1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23232385;
}
.hero .content-hero {
  position: relative;
  z-index: 2;
}
.hero .content-hero a {
  color: white;
  line-height: 1;
  font-weight: 700;
  font-size: 2.6rem;
  text-decoration: none;
  letter-spacing: 0.3rem;
  border: 3px solid white;
  padding: 1.5rem 2rem;
}
.hero .content-hero a:hover {
  background-color: #0F273E;
  transition: 1s ease all;
}
@media (max-width: 767.99px) {
  .main-content--image {
    height: 50vh;
  }
}
.main-content--image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.main-content--text {
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.99px) {
  .main-content--text {
    height: 50vh;
    justify-content: center;
  }
}
.main-content--text h2 {
  font-size: calc(2.2rem + 1vw);
}
.main-content--text p {
  font-size: calc(1.4rem + 0.5vw);
  margin-bottom: 5rem;
}
.main-content--text a {
  color: white;
  line-height: 1;
  font-weight: 700;
  font-size: 2.6rem;
  text-decoration: none;
  letter-spacing: 0.3rem;
  border: 3px solid white;
  padding: 1.5rem 2rem;
  transition: 1s ease all;
}
.main-content--text a:hover {
  color: black;
  border: 3px solid black;
  background-color: white;
}
.main .main-content {
  line-height: 0;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}
@media (max-width: 767.99px) {
  .main .main-content {
    display: block;
  }
}
.main .main-content--menu {
  background-color: white;
  grid-template-columns: 1.5fr 2fr;
}
.main .main-content--menu .main-content--image {
  order: 2;
}
.main .main-content--menu .main-content--text {
  color: black;
}
.main .main-content--menu .main-content--text a {
  color: black;
  border: 3px solid black;
  transition: 1s ease all;
}
.main .main-content--menu .main-content--text a:hover {
  color: white;
  border: 3px solid white;
  background-color: black;
}
.article {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 0;
}
@media (max-width: 767.99px) {
  .article {
    display: block;
  }
}
.article:nth-child(even) .article--image {
  order: 1;
}
.article .article--text {
  color: black;
  letter-spacing: 2px;
  padding: 2em 0;
}
@media (max-width: 767.99px) {
  .article .article--text {
    height: 50vh;
  }
}
.article .article--text p {
  line-height: 1.4;
  padding: 2rem 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (max-width: 382.99px) {
  .article .article--text p {
    line-height: 1.1;
  }
}
@media (max-width: 767.99px) {
  .article .article--image {
    height: 50vh;
  }
}
.article .article--image img {
  width: 100%;
}
.span {
  font-weight: 700;
  padding: 0;
  line-height: 0;
  letter-spacing: 1px;
}
.footer {
  padding: 3rem 0;
  background-color: #3e3e3e;
}
.footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
}
.footer ul li a {
  color: white;
}
.footer ul li a:after {
  content: "|";
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer ul li:last-of-type a:after {
  content: none;
}
.main1 {
  padding-top: 71.2px;
}
