@import './variables';
@import './mixins';

.footer {
	background-color: $color-black;
	@include modelFlexColumn;
	.footer__h2 {
		color: $color-white;
		@extend %format-padding-layout;
	}
	.footer__contentRow {
        width: $width100;
		@media (min-width: 1024px) {
            @include modelFlexRow;
            width: 88%;                              
		}
		.footer__content {
            @include modelFlexRow;
            @media (min-width: 1024px){                
                flex-direction: $column;                              
            }
			width: $width100;
			padding: 10px;
			.footer__iframe {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 90%;
			}
			.footer__p {
                color: $color-white;
                @extend %format-padding-layout;                
			}
			i {				
				color: $color-white;
				@include socialNet;

				&:hover {
					transform: scale(2);
				}
			}
		}
		.footer__content--responsiveMap {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding-top: 56.25%;			
		}
	}
}
