@import './variables.scss';
@import './mixins';

.header {
	background-image: url('../img/background.png');	
	background-repeat: no-repeat;
	
	background-size: 395px;
	background-attachment: fixed;
	background-position: center center;
	height: 89vh;

	@media (min-width: 1024px) { 
		background-size: 600px;
	}
	@media (min-width: 1440px) { 
		background-size: 855px;
	}

	.header__content {
		height: 29vh;
		
		@include modelFlexColumn;
		.header__content--backgroundColor {
			width: 100%;
			background-color: black;
			color: white;
			text-align: $center;
			padding: 10px 0;
		}

		.header__a {
			padding: 20px 25px;
			background-color: #FFDE00;
			border: 5px solid black;						
			color: white;
			font-size: 1.8em;
			border-radius: 5px;
			
			&:hover {
				border: 5px solid #FFDE00;
				background-color: transparent;
				color: #FFDE00;
			}
		}
	}
}
