@import './variables.scss';
@import './mixins';

.header {	
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $center top;
	height: 152vh;	    	
	@media (min-width: 1024px) {
		height: 625px;
	}
	.header__content{
		background-color: black;
		color: white;				
		text-align: $center;
		padding: 10px 0;		
	}
}
