@import './variables';
@import './mixins';

%format-padding-layout {
	padding: 35px 0;
}

%text-center{
	text-align: $center;
}

%format-layout-center-auto{
	margin: auto;
}

.main {
	background-color: #ffdd003a;
	.main__section {
		@extend %format-padding-layout;
		.main__h2,
		.main__h3 {
			@extend %text-center;
			@extend %format-padding-layout;
		}
		.main__img {
			margin-top: 15px;
		}

		.main__h4 {			
			@extend %format-padding-layout;
		}
		.main__content {			
			width: $width100;
			padding: 5.8%;
			.main__li {
				line-height: 30px;
			}			
		}
		.main__p {			
			@extend %text-center;
		}
		.main__content--green {
			background-color: #00684750;
		}
		.main__content--white {
			background-color: #fefefe;
		}
		.main__content--red {
			background-color: #ce112756;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 90%;
			border: 1px solid #ddd;
			font-size: 0.77em;
			@media (min-width: 768px) {
				font-size: 1em;
			}
			@extend %format-layout-center-auto;
			th,
			td {
				text-align: left;
				padding: 8px;
			}
			thead {
				background-color: $color-yellow;
				tr:nth-of-type(1) {
					th:nth-of-type(1) {
						@extend %text-center;
						font-size: 1.2em;
					}
				}
			}
			tbody {
				background-color: #f2f2f2;
			}
		}
	}	
	.main__section--centerImg {
		@extend %format-layout-center-auto;
		@media (min-width: 1024px) {
			width: 56%;			
		}
		div {			
			width: 100%;
			display: $flex;
			justify-content: $center;
			.main__button {
				@include cursor;
				// background-color: #717171;
				background-color: #bbb;
				height: 15px;
				width: 15px;
				margin: 0 2px;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}
		}
	}
}
