@import './variables';
@import './mixins';

.nav {	
    background-color: $color-black;
    display: $flex;  
    justify-content: $center;  
	.nav__content {
        width: $width100;
        display: none;        
        @media (min-width: 768px) {
            display: block;            
            @include modelFlexRow;            	
        }
		margin: 0 3%;
        .nav__img {
            width: 7.5%;
        }
        .nav__ul {
            width: 70%;
            @include modelFlexRow;
            .nav__a{
                color:  $color-yellow;                
                &:focus,&:hover{
                   border-bottom: 4px solid $color-yellow;
                }               
            }
        }
    }
    .nav__hamburguerWhite{
        margin: 4% 0;
        @include hideMin1024px;
        @include hamburguer;
    }
}
