//// @access public
//// @author @jordi

///basic variables

///@group color
$color-white : white;
$color-yellow : yellow;

///@group layout

$border-radius: 5px;
$bold : bold;

$width100: 100%;
$heightVw: 100vw;
$padding-bottom: 20px;

///img responsive 
$max-width: 100%;

/// flexbox layout

///@group layout
$flex: flex;
$row: row;
$column : column;
$space-between: space-between;
$center: center;

/// basic varibles first movile

/// @group size
$body-size-s: 0.85em;
$title-size: 1.4em;

/// dimension
$widthMovile: 30%;

/// basic varibles tablet
/// @group size
$body_size_t: 1.2em;


    
    







